<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>FastAsyncWorldEdit コマンド・ブラシ 説明書</title>
    <meta author="AKAREGI (AkagiCrafter)" />
    <meta description="Bukkit/Spigot のプラグイン FastAsyncWorldEdit(FAWE) の説明書です。コマンドの使い方を中心に、ブラシやパターンについても載せています。" />

    <meta property="og:title" content="FastAsyncWorldEdit コマンド・ブラシ 説明書" />
    <meta property="og:description"
        content="Bukkit/Spigot のプラグイン FastAsyncWorldEdit(FAWE) の説明書です。コマンドの使い方を中心に、ブラシやパターンについても載せています。" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://akaregi.github.io/fawe.html" />
    <meta property="og:image" content="https://i.imgur.com/u2n6t2h.png" />
    <meta property="og:locale" content="ja_JP" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@akgmoegi" />
    <meta name="twitter:creator" content="@akgmoegi" />
    <meta name="twitter:image" content="https://i.imgur.com/u2n6t2h.png" />
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>FastAsyncWorldEdit コマンド・ブラシ 説明書</h1>
        </header>

        <main class="main">
            %DATA%
        </main>

        <footer class="footer">
            <ul>
                <li><a href="https://social.azure.icu/red_resolution">Fediverse(Pleroma)</a></li>
                <li><a href="https://github.com/akaregi/fawe-jp">Repository</a></li>
            </ul>

            <p>(C) 2021 Translated by akaregi. Original data are the copyright of IntellectualSites.</p>
        </footer>
    </div>
</body>
</html>